<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="description" content="🚧 Under construction 🚧">

        <link rel="canonical" href="{{site.url}}{{ page.url }}" />
        <title>Code By Example</title>
    </head>

    <body>
        <h1 style="display:none;">Code By Example</h1>
        <div class="container">
            🚧 Under construction 🚧
        </div>

    </body>
</html>